
<table>
  <th>Rubric ID</th>
  <th>Title</th>
  <th>Products_Count</th>

  <% @sql_result.each { |r| %>
  <tr>
      <td><%= r.rubric_id %></td>
      <td><%= r.title %></td>
      <td><%= r.products_count %></td>
  </tr>
  <% } %>
</table>
<br />
<p><%= link_to "Upload to CSV File", :action => 'send_csv', :method_type => 'sql' %></p>
<p><%= link_to "Back", :action => 'index' %></p>

